In [1]:
import logging
import sys

log = logging.getLogger('205150207111027_UTS_DE')
format = logging.Formatter('%(asctime)s - %(lineno)s - %(levelname)s - %(message)s')
log.setLevel(logging.DEBUG)

fhandler = logging.FileHandler(filename = "log_file_uts.txt", mode = "a")
fhandler.setFormatter(format)
fhandler.setLevel(logging.INFO)
log.addHandler(fhandler)

console=logging.StreamHandler(sys.stdout)
console.setFormatter(format)
console.setLevel(logging.DEBUG)
log.addHandler(console)

In [2]:
!kaggle datasets list -s "Shopping Cart"
log.info("mencari dan mengambil dataset menggunakan API")

ref                                                          title                                               size  lastUpdated          downloadCount  voteCount  usabilityRating
-----------------------------------------------------------  -------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
acostasg/random-shopping-cart                                Random Shopping cart                                65KB  2017-12-05 22:00:26           2357         27  0.7058824
ruchi798/shopping-cart-database                              Shopping Cart Database                              96KB  2021-12-08 15:28:37           3147         54  1.0
mkechinov/ecommerce-behavior-data-from-multi-category-store  eCommerce behavior data from multi category store    4GB  2019-12-09 20:43:39          19013        467  1.0
mkechinov/ecommerce-events-history-in-cosmetics-shop         eCommerce Events History in Cosmetics Shop         430MB  2020-03-16 12:04:15          11380        182  1.0
fanatiks/shopping-cart                                       Random Shopping cart                                48KB  2017-05-28 23:46:24           1206         15  0.4117647
mkechinov/ecommerce-events-history-in-electronics-store      eCommerce events history in electronics store       20MB  2021-03-29 06:11:07           1341         17  1.0
ahmedlahlou/accidents-in-france-from-2005-to-2016            Accidents in France from 2005 to 2016               40MB  2018-06-13 09:49:58           8976        195  0.7058824
faisaljamil/shopping-cart                                    Shopping cart                                      205KB  2020-05-21 06:30:19             37          1  0.23529412
yasserh/instacart-online-grocery-basket-analysis-dataset     InstaCart Online Grocery Basket Analysis Dataset   197MB  2022-01-25 16:43:37           1288         36  0.9411765
pushpaltayal/etailing-customer-survey-in-india               E-Tailing Customer Survey in India                 435KB  2020-06-05 06:22:11            225          5  0.64705884
felipeesc/shark-attack-dataset                               Shark attack dataset                               555KB  2021-07-25 23:04:38           1573         43  0.9705882
nowingkim/ecommerce-data-cosmetics-shop                      eCommerce data - Cosmetics Shop                     83MB  2022-03-14 09:33:54            760         28  0.88235295
datawizard20/random-shopping-carts                           Random Shopping Carts                               46KB  2019-04-17 23:17:47            139          2  0.11764706
vishnu0399/server-logs                                       Server Logs                                         20MB  2021-10-12 06:35:21            364          4  1.0
oscarm524/fraud-detection-in-grocery-shopping-transactions   Fraud Detection at self-checkout in retail          13MB  2022-10-20 13:37:16             68          6  0.5882353
hafizyusufheraldi/retail-product-dataset                     Retail Product Dataset                              14MB  2021-06-04 12:54:49            188          8  0.6875
fanchenbao/parking-spots                                     parking_spots                                       30MB  2021-01-07 21:49:36             70          1  0.75
wiredwith/websites-list                                      Global e-Commerce Websites List                     65MB  2020-08-13 12:55:20            611         20  0.8235294
manishgkv/price-wholesale                                    price wholesale                                     11KB  2020-08-09 15:48:51              5          1  0.11764706
sadiestewart/furniture-store-shopping-and-customers          Furniture store - Shopping and customers           444KB  2020-07-03 01:55:57            112          1  0.1764706
2022-11-13 22:16:58,766 - 2 - INFO - mencari dan mengambil dataset menggunakan API

In [3]:
!kaggle datasets download ruchi798/shopping-cart-database -p /Users/arizp/Datasets --unzip
log.info("mendownload dataset")

Downloading shopping-cart-database.zip to /Users/arizp/Datasets

2022-11-13 22:17:00,556 - 2 - INFO - mendownload dataset

  0%|          | 0.00/96.1k [00:00<?, ?B/s]
100%|##########| 96.1k/96.1k [00:00<00:00, 676kB/s]
100%|##########| 96.1k/96.1k [00:00<00:00, 666kB/s]

In [4]:
import pandas as pd

data1 = pd.read_csv("/Users/arizp/Datasets/customers.csv")
data2 = pd.read_csv("/Users/arizp/Datasets/orders.csv")
data3 = pd.read_csv("/Users/arizp/Datasets/products.csv")
data4 = pd.read_excel("/Users/arizp/Datasets/sales.xlsx")
log.info("mengimport library pandas dan menginput dataset ke jupyter notebook")

2022-11-13 22:17:02,019 - 7 - INFO - mengimport library pandas dan menginput dataset ke jupyter notebook

In [5]:
import great_expectations as ge
log.info("mengimport great expectation")

2022-11-13 22:17:04,137 - 2 - INFO - mengimport great expectation

In [6]:
display(data1.head())
log.info("melihat 5 data teratas")

,customer_id,customer_name,gender,age,home_address,zip_code,city,state,country
0,1,Leanna Busson,Female,30,8606 Victoria TerraceSuite 560,5464,Johnstonhaven,Northern Territory,Australia
1,2,Zabrina Harrowsmith,Genderfluid,69,8327 Kirlin SummitApt. 461,8223,New Zacharyfort,South Australia,Australia
2,3,Shina Dullaghan,Polygender,59,269 Gemma SummitSuite 109,5661,Aliburgh,Australian Capital Territory,Australia
3,4,Hewet McVitie,Bigender,67,743 Bailey GroveSuite 141,1729,South Justinhaven,Queensland,Australia
4,5,Rubia Ashleigh,Polygender,30,48 Hyatt ManorSuite 375,4032,Griffithsshire,Queensland,Australia

2022-11-13 22:17:04,178 - 2 - INFO - melihat 5 data teratas

In [7]:
display(data1["gender"].value_counts())
log.info("melihat jumlah dari setiap variable pada kolom gender")

Male           143
Non-binary     131
Polygender     128
Genderqueer    127
Genderfluid    122
Bigender       120
Female         115
Agender        114
Name: gender, dtype: int64

2022-11-13 22:17:04,191 - 2 - INFO - melihat jumlah dari setiap variable pada kolom gender

In [8]:
gender_map = {
    "Male" : "M",
    "Female" : "F",
    "Non-binary" : "NB",
    "Agender" : "AG",
    "Bigender" : "BG",
    "Polygender" : "PG",
    "Genderqueer" : "GQ",
    "Genderfluid" : "GF"
}
data1["gender"] = data1["gender"].map(gender_map)
log.info("mengubah nama setiap variable pada kolom gender")

2022-11-13 22:17:04,206 - 12 - INFO - mengubah nama setiap variable pada kolom gender

In [9]:
display(data1.head())
log.info("melihat 5 data teratas")

,customer_id,customer_name,gender,age,home_address,zip_code,city,state,country
0,1,Leanna Busson,F,30,8606 Victoria TerraceSuite 560,5464,Johnstonhaven,Northern Territory,Australia
1,2,Zabrina Harrowsmith,GF,69,8327 Kirlin SummitApt. 461,8223,New Zacharyfort,South Australia,Australia
2,3,Shina Dullaghan,PG,59,269 Gemma SummitSuite 109,5661,Aliburgh,Australian Capital Territory,Australia
3,4,Hewet McVitie,BG,67,743 Bailey GroveSuite 141,1729,South Justinhaven,Queensland,Australia
4,5,Rubia Ashleigh,PG,30,48 Hyatt ManorSuite 375,4032,Griffithsshire,Queensland,Australia

2022-11-13 22:17:04,226 - 2 - INFO - melihat 5 data teratas

In [10]:
display(data1["gender"].value_counts())
log.info("melihat jumlah dari setiap variable pada kolom gender")

M     143
NB    131
PG    128
GQ    127
GF    122
BG    120
F     115
AG    114
Name: gender, dtype: int64

2022-11-13 22:17:04,258 - 2 - INFO - melihat jumlah dari setiap variable pada kolom gender

In [11]:
display(data2.head())
log.info("melihat 5 data teratas")

   order_id  customer_id  payment order_date delivery_date
0         1           64    30811  2021-8-30    2021-09-24
1         2          473    50490   2021-2-3    2021-02-13
2         3          774    46763  2021-10-8    2021-11-03
3         4          433    39782   2021-5-6    2021-05-19
4         5          441    14719  2021-3-23    2021-03-24

2022-11-13 22:17:04,298 - 2 - INFO - melihat 5 data teratas

In [12]:
display(data3.head())
log.info("melihat 5 data teratas")

,product_ID,product_type,product_name,size,colour,price,quantity,description
0,0,Shirt,Oxford Cloth,XS,red,114,66,"A red coloured, XS sized, Oxford Cloth Shirt"
1,1,Shirt,Oxford Cloth,S,red,114,53,"A red coloured, S sized, Oxford Cloth Shirt"
2,2,Shirt,Oxford Cloth,M,red,114,54,"A red coloured, M sized, Oxford Cloth Shirt"
3,3,Shirt,Oxford Cloth,L,red,114,69,"A red coloured, L sized, Oxford Cloth Shirt"
4,4,Shirt,Oxford Cloth,XL,red,114,47,"A red coloured, XL sized, Oxford Cloth Shirt"

2022-11-13 22:17:04,322 - 2 - INFO - melihat 5 data teratas

In [13]:
data3.rename(columns = {'product_ID':'product_id'}, inplace = True)
log.info("mengubah salah satu nama kolom pada dataframe ke 3")

2022-11-13 22:17:04,344 - 2 - INFO - mengubah salah satu nama kolom pada dataframe ke 3

In [14]:
display(data3.head())
log.info("melihat 5 data teratas")

,product_id,product_type,product_name,size,colour,price,quantity,description
0,0,Shirt,Oxford Cloth,XS,red,114,66,"A red coloured, XS sized, Oxford Cloth Shirt"
1,1,Shirt,Oxford Cloth,S,red,114,53,"A red coloured, S sized, Oxford Cloth Shirt"
2,2,Shirt,Oxford Cloth,M,red,114,54,"A red coloured, M sized, Oxford Cloth Shirt"
3,3,Shirt,Oxford Cloth,L,red,114,69,"A red coloured, L sized, Oxford Cloth Shirt"
4,4,Shirt,Oxford Cloth,XL,red,114,47,"A red coloured, XL sized, Oxford Cloth Shirt"

2022-11-13 22:17:04,369 - 2 - INFO - melihat 5 data teratas

In [15]:
display(data4.head())
log.info("melihat 5 data teratas")

   sales_id  order_id  product_id  price_per_unit  quantity  total_price
0         0         1         218             106         2          212
1         1         1         481             118         1          118
2         2         1           2              96         3          288
3         3         1        1002             106         2          212
4         4         1         691             113         3          339

2022-11-13 22:17:04,395 - 2 - INFO - melihat 5 data teratas

In [16]:
display(data1.shape, data2.shape, data3.shape, data4.shape)
log.info("melihat jumlah kolom dan baris")

(1000, 9)

(1000, 5)

(1260, 8)

(5000, 6)

2022-11-13 22:17:04,418 - 2 - INFO - melihat jumlah kolom dan baris

In [17]:
gdf1 = ge.from_pandas(data1)
gdf2 = ge.from_pandas(data2)
gdf3 = ge.from_pandas(data3)
gdf4 = ge.from_pandas(data4)
log.info("memasukkan dataframe ke dalam variable baru untuk great expectation")

2022-11-13 22:17:04,443 - 5 - INFO - memasukkan dataframe ke dalam variable baru untuk great expectation

In [18]:
display(gdf1.expect_column_values_to_not_be_null("customer_id"))
display(gdf1.expect_column_values_to_not_be_null("customer_name"))
display(gdf1.expect_column_values_to_not_be_null("gender"))
display(gdf1.expect_column_values_to_not_be_null("age"))
display(gdf1.expect_column_values_to_not_be_null("home_address"))
display(gdf1.expect_column_values_to_not_be_null("zip_code"))
display(gdf1.expect_column_values_to_not_be_null("city"))
display(gdf1.expect_column_values_to_not_be_null("state"))
display(gdf1.expect_column_values_to_not_be_null("country"))
log.info("mengecek nilai null pada setiap kolom dataframe ke 1 menggunakan great expectation")

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

2022-11-13 22:17:04,492 - 10 - INFO - mengecek nilai null pada setiap kolom dataframe ke 1 menggunakan great expectation

In [19]:
display(gdf2.expect_column_values_to_not_be_null("order_id"))
display(gdf2.expect_column_values_to_not_be_null("customer_id"))
display(gdf2.expect_column_values_to_not_be_null("payment"))
display(gdf2.expect_column_values_to_not_be_null("order_date"))
display(gdf2.expect_column_values_to_not_be_null("delivery_date"))
log.info("mengecek nilai null pada setiap kolom dataframe ke 2 menggunakan great expectation")

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

2022-11-13 22:17:04,522 - 6 - INFO - mengecek nilai null pada setiap kolom dataframe ke 2 menggunakan great expectation

In [20]:
display(gdf3.expect_column_values_to_not_be_null("product_id"))
display(gdf3.expect_column_values_to_not_be_null("product_type"))
display(gdf3.expect_column_values_to_not_be_null("product_name"))
display(gdf3.expect_column_values_to_not_be_null("size"))
display(gdf3.expect_column_values_to_not_be_null("colour"))
display(gdf3.expect_column_values_to_not_be_null("price"))
display(gdf3.expect_column_values_to_not_be_null("quantity"))
display(gdf3.expect_column_values_to_not_be_null("description"))
log.info("mengecek nilai null pada setiap kolom dataframe ke 3 menggunakan great expectation")

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1260,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1260,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1260,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1260,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1260,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1260,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1260,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 1260,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

2022-11-13 22:17:04,565 - 9 - INFO - mengecek nilai null pada setiap kolom dataframe ke 3 menggunakan great expectation

In [21]:
display(gdf4.expect_column_values_to_not_be_null("sales_id"))
display(gdf4.expect_column_values_to_not_be_null("order_id"))
display(gdf4.expect_column_values_to_not_be_null("product_id"))
display(gdf4.expect_column_values_to_not_be_null("price_per_unit"))
display(gdf4.expect_column_values_to_not_be_null("quantity"))
display(gdf4.expect_column_values_to_not_be_null("total_price"))
log.info("mengecek nilai null pada setiap kolom dataframe ke 4 menggunakan great expectation")

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 5000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 5000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 5000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 5000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 5000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

{
  "success": true,
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "meta": {},
  "result": {
    "element_count": 5000,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "partial_unexpected_list": []
  }
}

2022-11-13 22:17:04,614 - 7 - INFO - mengecek nilai null pada setiap kolom dataframe ke 4 menggunakan great expectation

In [22]:
display(data1.isna().sum())
log.info("melihat jumlah nan pada semua kolom pada dataset 1")
display(data2.isna().sum())
log.info("melihat jumlah nan pada semua kolom pada dataset 2")
display(data2.isna().sum())
log.info("melihat jumlah nan pada semua kolom pada dataset 3")
display(data2.isna().sum())
log.info("melihat jumlah nan pada semua kolom pada dataset 4")

customer_id      0
customer_name    0
gender           0
age              0
home_address     0
zip_code         0
city             0
state            0
country          0
dtype: int64

2022-11-13 22:17:04,636 - 2 - INFO - melihat jumlah nan pada semua kolom pada dataset 1

order_id         0
customer_id      0
payment          0
order_date       0
delivery_date    0
dtype: int64

2022-11-13 22:17:04,641 - 4 - INFO - melihat jumlah nan pada semua kolom pada dataset 2

order_id         0
customer_id      0
payment          0
order_date       0
delivery_date    0
dtype: int64

2022-11-13 22:17:04,644 - 6 - INFO - melihat jumlah nan pada semua kolom pada dataset 3

order_id         0
customer_id      0
payment          0
order_date       0
delivery_date    0
dtype: int64

2022-11-13 22:17:04,651 - 8 - INFO - melihat jumlah nan pada semua kolom pada dataset 4

In [23]:
display(data1.duplicated().sum())
log.info("melihat nilai duplikat pada semua kolom di dataframe 1")
display(data2.duplicated().sum())
log.info("melihat nilai duplikat pada semua kolom di dataframe 2")
display(data3.duplicated().sum())
log.info("melihat nilai duplikat pada semua kolom di dataframe 3")
display(data4.duplicated().sum())
log.info("melihat nilai duplikat pada semua kolom di dataframe 4")

0

2022-11-13 22:17:04,667 - 2 - INFO - melihat nilai duplikat pada semua kolom di dataframe 1

0

2022-11-13 22:17:04,671 - 4 - INFO - melihat nilai duplikat pada semua kolom di dataframe 2

0

2022-11-13 22:17:04,677 - 6 - INFO - melihat nilai duplikat pada semua kolom di dataframe 3

0

2022-11-13 22:17:04,684 - 8 - INFO - melihat nilai duplikat pada semua kolom di dataframe 4

In [24]:
display(data1.dtypes)
log.info("melihat tipe data pada setiap kolom di dataframe 1")
display(data2.dtypes)
log.info("melihat tipe data pada setiap kolom di dataframe 2")
display(data3.dtypes)
log.info("melihat tipe data pada setiap kolom di dataframe 3")
display(data4.dtypes)
log.info("melihat tipe data pada setiap kolom di dataframe 4")

customer_id       int64
customer_name    object
gender           object
age               int64
home_address     object
zip_code          int64
city             object
state            object
country          object
dtype: object

2022-11-13 22:17:04,695 - 2 - INFO - melihat tipe data pada setiap kolom di dataframe 1

order_id          int64
customer_id       int64
payment           int64
order_date       object
delivery_date    object
dtype: object

2022-11-13 22:17:04,702 - 4 - INFO - melihat tipe data pada setiap kolom di dataframe 2

product_id       int64
product_type    object
product_name    object
size            object
colour          object
price            int64
quantity         int64
description     object
dtype: object

2022-11-13 22:17:04,707 - 6 - INFO - melihat tipe data pada setiap kolom di dataframe 3

sales_id          int64
order_id          int64
product_id        int64
price_per_unit    int64
quantity          int64
total_price       int64
dtype: object

2022-11-13 22:17:04,711 - 8 - INFO - melihat tipe data pada setiap kolom di dataframe 4

In [25]:
data2["order_date"] = pd.to_datetime(data2["order_date"])
data2["delivery_date"] = pd.to_datetime(data2["delivery_date"])
log.info("mengubah tipe data pada dataframe ke 2")

2022-11-13 22:17:04,728 - 3 - INFO - mengubah tipe data pada dataframe ke 2

In [26]:
display(data1.dtypes)
log.info("melihat tipe data pada setiap kolom di dataframe 1")
display(data2.dtypes)
log.info("melihat tipe data pada setiap kolom di dataframe 2")
display(data3.dtypes)
log.info("melihat tipe data pada setiap kolom di dataframe 3")
display(data4.dtypes)
log.info("melihat tipe data pada setiap kolom di dataframe 4")

customer_id       int64
customer_name    object
gender           object
age               int64
home_address     object
zip_code          int64
city             object
state            object
country          object
dtype: object

2022-11-13 22:17:04,748 - 2 - INFO - melihat tipe data pada setiap kolom di dataframe 1

order_id                  int64
customer_id               int64
payment                   int64
order_date       datetime64[ns]
delivery_date    datetime64[ns]
dtype: object

2022-11-13 22:17:04,754 - 4 - INFO - melihat tipe data pada setiap kolom di dataframe 2

product_id       int64
product_type    object
product_name    object
size            object
colour          object
price            int64
quantity         int64
description     object
dtype: object

2022-11-13 22:17:04,758 - 6 - INFO - melihat tipe data pada setiap kolom di dataframe 3

sales_id          int64
order_id          int64
product_id        int64
price_per_unit    int64
quantity          int64
total_price       int64
dtype: object

2022-11-13 22:17:04,761 - 8 - INFO - melihat tipe data pada setiap kolom di dataframe 4

In [27]:
from sqlalchemy import create_engine as ce
log.info("mengimport create_engine dari library sqlalchemy")

2022-11-13 22:17:04,773 - 2 - INFO - mengimport create_engine dari library sqlalchemy

In [28]:
engine = ce("mysql://root:260402Ms*@localhost:3306/utsde1")
log.info("membuat koneksi antara jupyter notebook dengan mysql")

2022-11-13 22:17:04,811 - 2 - INFO - membuat koneksi antara jupyter notebook dengan mysql

In [29]:
data1.to_sql('customers', engine)
log.info("memasukkan dataframe pertama pada jupyter kepada mySQL")
data2.to_sql('orders', engine)
log.info("memasukkan dataframe kedua pada jupyter kepada mySQL")
data3.to_sql('products', engine)
log.info("memasukkan dataframe ketiga pada jupyter kepada mySQL")
data4.to_sql('sales', engine)
log.info("memasukkan dataframe keempat pada jupyter kepada mySQL")

log.info("mengirim semua dataframe kepada mysql untuk dijadikan sebuah table")

ValueError: Table 'customers' already exists.

In [ ]:
data1.to_csv("/Users/arizp/processed/customers.csv")
data3.to_csv("/Users/arizp/processed/orders.csv")
data2.to_csv("/Users/arizp/processed/products.csv")
data4.to_excel("/Users/arizp/processed/sales.xlsx")

log.info("mengexport data")